<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-white dark:bg-slate-700 text-slate-700  dark:text-white">
  <main>
    <header class="grid grid-cols-1 lg:grid-cols-3  justify-items-center gap-2 bg-white dark:bg-slate-700">
      <a class="text-5xl sm:text-7xl bg-white dark:bg-slate-700 text-slate-700 dark:text-white lg:justify-self-start mt-5 lg:mt-0 px-5 py-1" href="/">
        tech.blog
      </a>
      <nav class="grid lg:col-span-2 grid-cols-1 sm:grid-cols-4 dark:bg-slate-700 text-slate-700 dark:text-white text-center lg:justify-self-end gap-2">
        <a class="text-2xl sm:text-4xl" href="/">
          Home
        </a>
        <a class="text-2xl sm:text-4xl" href="/dashboard">
          Dashboard
        </a>
        <a class="text-2xl sm:text-4xl" href="/sign-up">
          Sign Up
        </a>
        <a class="text-2xl sm:text-4xl" href="/sign-in">
          Sign In
        </a>
        <a class="text-2xl sm:text-4xl" href="#">
          Sign Out
        </a>
      </nav>
    </header>
    {{{ body }}}
  </main>
</body>

</html>