<section class="grid grid-cols-1 justify-items-center gap-2 p-4">
	<h2 class="text-xl">Dashboard</h2>
	{{#each posts as |post|}}
		<article class="">
			<h3 class="underline">{{post.postTitle}}</h2>
		</article>
	{{/each}}
	<button id="new-post" class="w-64 border rounded-lg p-4">New Post</button>
</section>

<section id="publish-post" class="grid grid-cols-1 justify-items-center gap-2 p-4">
</section>

<article id="user-id" data-user-id="{{userId}}"></article>

<!-- ** -->

<script>
	// Display the “Publish Post” form.
	document.getElementById("new-post").addEventListener("click", () =>{
		
		// Hide the “New Post” button.
		document.getElementById("new-post").hidden = true

		// Create the elements.
		const publishPostHeader = document.createElement("h3")
		publishPostHeader.innerHTML = "Publish Post"
		publishPostHeader.className = ""
		
		const postTitleInput = document.createElement("input")
		postTitleInput.id = "post-title"
		postTitleInput.className = "w-3/4 sm:w-2/3 lg:w-1/2 p-4 border border-solid border-gray-300 text-black"
		postTitleInput.type = "text"
		postTitleInput.placeholder = "Post Title"
		
		const postTextarea = document.createElement("textarea")
		postTextarea.id = "post"
		postTextarea.className = "w-3/4 sm:w-2/3 lg:w-1/2 p-4 border border-solid border-gray-300 text-black"
		postTextarea.placeholder = "Post"
		
		const publishButton = document.createElement("button")
		publishButton.innerHTML = "Publish"
		publishButton.id = "publish"
		publishButton.className = "w-3/4 sm:w-2/3 lg:w-1/2 p-4 border rounded-lg p-4"
		
		// Append the elements to the form.
		const publishPostForm = document.getElementById("publish-post")
		publishPostForm.appendChild(publishPostHeader)
		publishPostForm.appendChild(postTitleInput)
		publishPostForm.appendChild(postTextarea)
		publishPostForm.appendChild(publishButton)

		// Publish the post.
		document.getElementById("publish").addEventListener("click", async () => {
			
			// Get the post.
			const postTitle = document.getElementById("post-title").value.trim()
			const post = document.getElementById("post").value.trim()
			const postDate = new Date()
			const userId = document.getElementById("user-id").getAttribute("data-user-id")
			
			// Call the API.
			if (postTitle && post && postDate && userId) {
				const response = await fetch("api/post", {
					method: "POST",
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						postTitle,
						post,
						postDate,
						userId,
					}),
				})

				// Hanlde the response.
				if (response.ok) {
					document.location.replace("/dashboard")
				} else {
					alert(response.statusText)
				}

			}
			
		})
		
	})
</script>
