<form class="grid grid-cols-1 justify-items-center gap-2 p-4" id="sign-in-form">
	<h2 class="text-xl">Sign In</h2>
	<input class="w-3/4 sm:w-2/3 lg:w-1/2 p-4 border border-solid border-gray-300 text-black" type="text" placeholder="Email" id="email"><br>
	<input class="w-3/4 sm:w-2/3 lg:w-1/2 p-4 border border-solid border-gray-300 text-black" type="password" placeholder="Password" id="password">
	<button class="w-3/4 p-4" type="submit">Sign In</button>
	<p>Don’t have an account? <a href="/sign-up">Sign up</a>.</p>
</form>

<script>
	// Sign in the user.
	document.getElementById("sign-in-form").addEventListener("submit", async (e) => {
		e.preventDefault()
		// Get the email and password from the user.
		const email = document.getElementById("email").value.trim()
		const password = document.getElementById("password").value.trim()
		// If the user entered an email and password, call the signInUser API.
		if (email && password) {
			// Call the API.
			const response = await fetch("/api/user/sign-in", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					email,
					password,
				}),
			})
			// If successful, redirect to home page. Else, display alert with error message.
			if (response.ok) {
				document.location.replace("/dashboard")
			} else {
				alert(response.statusText)
			}
		}
	})
</script>
