<form class="grid grid-cols-1 justify-items-center gap-2 p-4">
	<h2 class="text-xl">Sign In</h2>
	<input class="w-3/4 p-4" type="text" placeholder="Email" id="email"><br>
	<input class="w-3/4 p-4" type="password" placeholder="Password" id="password"><br>
	<button class="w-3/4 p-4" type="submit">Sign In</button>
</form>

<script>
	{{!--  --}}
</script>
